<a href="https://colab.research.google.com/github/moonsy0311/-/blob/main/%5B%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_Numpy_%26_Pandas%5D_1%ED%9A%8C%EC%B0%A8_Python_%EA%B8%B0%EB%B3%B8_%ED%95%A8%EC%88%98_%EB%B3%B5%EC%8A%B5_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![KakaoTalk_20230803_163633393.png]()

---

## Python 기초 이해하기

### 변수와 데이터 타입

In [ ]:
# 변수 할당
number = 10
# 데이터 타입 출력
print(type(number))   # <class 'int'>

<class 'int'>

In [ ]:
number

10

In [ ]:
decimal = 3.14
print(type(decimal))  # <class 'float'>

<class 'float'>

In [ ]:
decimal-number

-6.859999999999999

In [ ]:
text = "안녕하세요!"
print(type(text))     # <class 'str'>

<class 'str'>

In [ ]:
text

'안녕하세요!'

### 연산자

In [ ]:
# 산술 연산자
a = 5
b = 2

In [ ]:
print(a + b)  # 덧셈 결과: 7
print(a - b)  # 뺄셈 결과: 3
print(a * b)  # 곱셈 결과: 10
print(a / b)  # 나눗셈 결과: 2.5

7
3
10
2.5

In [ ]:
a + b  # 덧셈 결과:
a - b  # 뺄셈 결과: 3
a * b # 곱셈 결과: 10
a / b
# 이렇게하면 맨 마지막 결과만 나오니까 다 나오게 하려면 print 꼭 써주기

2.5

In [ ]:
# 비교 연산자
print(a > b)  # True
print(a < b)  # False

True
False

In [ ]:
# 논리 연산자
print(a > 3 and b < 3)  # True
print(a > 3 and b > 3)
print(a > 3 or b > 3)   # True
print(not (a > 3))      # False

True
False
True
False

In [ ]:
a > 3 and b < 3

True

## 흐름 제어

### 조건문 (if, else, elif)

In [ ]:
# 조건문 예제
age = 20

In [ ]:
if age < 18:
    print("청소년입니다.")

elif age >= 18 and age < 65:
    print("성인입니다.")

else:
    print("노인입니다.")

성인입니다.

In [ ]:
age=int(input("what;s your age?:"))

if age<=18:
  print("청소년")
elif age<60:
  print("성인")
else:
  print("노인")

what;s your age?:78
노인

In [ ]:
##indent: 들여쓰기

### 반복문 (for, while)

In [ ]:
# for 반복문 예제
for i in range(5):  # 0부터 4까지 반복
    print(i)

0
1
2
3
4

In [ ]:
for i in [0,1,2,3,4,5]:
  print(i+10)

10
11
12
13
14
15

In [ ]:
list(range(0,15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
list(range(10,20,2))

[10, 12, 14, 16, 18]

In [ ]:
list(range(0,200+1,100))

[0, 100, 200]

In [ ]:
list(range(1,201,99))

[1, 100, 199]

In [ ]:
# while 반복문 예제
count = 0
while count < 5:
    print(count)
    count += 1
  #while은 참일 떄, 무한 반복됨, 이거 끄려다가 원래 쓰던 코드 다같이 날라감

0
1
2
3
4

## 함수 정의 및 사용

### 함수 정의

In [ ]:
def greet(name):
    return f"안녕하세요, {name}님!"
    #greet는 함수명 like f(x)
    #f는 ? 문자열에 함수를 정의할 때, 사용...

In [ ]:
name="나루"
"안녕하세요, {}님!". format(name)
#가운데에 , 아니고 온점

'안녕하세요, 나루님!'

In [ ]:
# 함수 호출
print(greet("나루"))

안녕하세요, 나루님!

In [ ]:
def f(x):
  print(x+10)

In [ ]:
f(10)

20

### 함수 인자

In [ ]:
def full_name(first_name, last_name):
    return first_name + " " + last_name

In [ ]:
# 위치 인자를 사용한 호출
print(full_name("마포", "나루"))

마포 나루

In [ ]:
# 키워드 인자를 사용한 호출
print(full_name(last_name="나루", first_name="마포"))

마포 나루

### 함수에서 값 반환

In [ ]:
def calculate_area(width, height):
    return width * height

In [ ]:
# 반환된 값을 변수에 저장
area = calculate_area(5, 3)
print("면적:", area)

면적: 15

## 기본 입출력

### print() 함수 사용하기

In [ ]:
# 단순 문자열 출력
print("Hello, World!")

Hello, World!

In [ ]:
# 변수와 함께 문자열 출력
name = "나루"
print("안녕하세요,", name)

안녕하세요, 나루

In [ ]:
# 여러 변수 출력
age = 25
print(name, "님은", age, "살입니다.")

나루 님은 25 살입니다.

In [ ]:
# 문자열 포매팅 사용
print(f"{name}님은 {age}살입니다.")

나루님은 25살입니다.

### input() 함수 사용하기

In [ ]:
# 사용자로부터 이름 입력 받기
user_name = input("당신의 이름을 입력하세요: ")
print(f"안녕하세요, {user_name}님!")

당신의 이름을 입력하세요: 나루
안녕하세요, 나루님!

In [ ]:
# 사용자로부터 나이 입력 받기
user_age = input("당신의 나이를 입력하세요: ")
print(f"{user_name}님은 {user_age}살입니다.")

당신의 나이를 입력하세요: 25
나루님은 25살입니다.

## 자료구조

### 리스트 (List)

In [ ]:
# 리스트 생성
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# 리스트 항목 추가
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# 특정 인덱스에 있는 항목 접근
print(fruits[1])  # banana

banana

In [ ]:
# 리스트 항목 삭제
fruits.remove("banana")
print(fruits)

['apple', 'cherry', 'orange']

### 튜플 (Tuple)

In [ ]:
# 튜플 생성
coordinates = (10, 20, 30)
print(coordinates)

(10, 20, 30)

In [ ]:
# 튜플에서 항목 접근
print(coordinates[1])  # 20

20

In [ ]:
# 튜플은 변경 불가능 (immutable)
coordinates[1] = 50  # 이 코드는 에러를 발생시킵니다.

TypeError: 'tuple' object does not support item assignment

### 딕셔너리 (Dictionary)

In [ ]:
# 딕셔너리 생성
person = {"name": "나루", "age": 25, "city": "서울"}
print(person)

{'name': '나루', 'age': 25, 'city': '서울'}

In [ ]:
# 딕셔너리 항목 접근
print(person["name"])  # 나루

나루

In [ ]:
# 딕셔너리 항목 추가
person["email"] = "jihoon@example.com"
print(person)

{'name': '나루', 'age': 25, 'city': '서울', 'email': 'jihoon@example.com'}

In [ ]:
# 딕셔너리 항목 삭제
del person["age"]
print(person)

{'name': '나루', 'city': '서울', 'email': 'jihoon@example.com'}

### 집합 (Set)

In [ ]:
# 집합 생성
numbers = {1, 2, 3, 4, 5}
print(numbers)

{1, 2, 3, 4, 5}

In [ ]:
# 집합에 항목 추가
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [ ]:
# 항목이 집합에 있는지 확인
print(3 in numbers)  # True

True

In [ ]:
# 집합에서 항목 제거
numbers.remove(6)
print(numbers)

{1, 2, 3, 4, 5}

## 파일 다루기

### 파일 쓰기

In [ ]:
# 'write_example.txt' 파일을 쓰기 모드로 열기
with open('write_example.txt', 'w') as file:
    file.write("Hello, Python!\n")  # 파일에 텍스트 쓰기
    file.write("파일 다루기를 배웁니다.\n")

### 파일 읽기

In [ ]:
# 'write_example.txt' 파일을 읽기 모드로 열기
with open('write_example.txt', 'r') as file:
    content = file.read()  # 파일의 전체 내용 읽기
    print(content)

Hello, Python!
파일 다루기를 배웁니다.

### 파일에 추가하기

In [ ]:
# 'write_example.txt' 파일을 추가 모드로 열기
with open('write_example.txt', 'a') as file:
    file.write("새로운 내용 추가하기.\n")

### 파일 줄 단위로 읽기

In [ ]:
# 'write_example.txt' 파일을 읽기 모드로 열기
with open('write_example.txt', 'r') as file:
    for line in file:  # 파일의 각 줄을 순회하면서
        print(line.strip())  # 줄바꿈 문자 제거 후 출력

Hello, Python!
파일 다루기를 배웁니다.
새로운 내용 추가하기.

## 모듈과 패키지

### 모듈 사용하기

In [ ]:
import math

In [ ]:
# math 모듈의 sqrt 함수 사용하기
result = math.sqrt(25)
print(result)  # 결과: 5.0

5.0

In [ ]:
# math 모듈의 pi 상수 사용하기
print(math.pi)  # 결과: 3.141592653589793

3.141592653589793

### 자체 모듈 만들기

In [ ]:
# 'write_example.txt' 파일을 추가 모드로 열기
with open('mapo.py', 'w') as file:
    file.write("""
def say_hello(name):
    return f"Hello, {name}!"
    """)

In [ ]:
import mapo

# greetings 모듈의 say_hello 함수 사용하기
print(mapo.say_hello("나루"))  # 출력: Hello, 나루!

Hello, 나루!

## 패키지 만들기

### maponaru 패키지 구조:

```
maponaru   
├── __init__.py   
├── math_tools.py   
└── string_tools.py   

```

In [ ]:
import os

In [ ]:
os.makedirs("maponaru", exist_ok=True)

### `__init__.py`

In [ ]:
with open('./maponaru/__init__.py', 'w') as file:
    file.write("""
    """)

### `math_tools.py`

In [ ]:
with open('./maponaru/math_tools.py', 'w') as file:
    file.write("""
def add(a, b):
    return a + b
    """)

### `string_tools.py`

In [ ]:
with open('./maponaru/string_tools.py', 'w') as file:
    file.write("""
def capitalize(text):
    return text.capitalize()
    """)

### 패키지 사용하기

In [ ]:
from maponaru import math_tools, string_tools

In [ ]:
# math_tools의 add 함수 사용하기
print(math_tools.add(3, 4))  # 결과: 7

7

In [ ]:
# string_tools의 capitalize 함수 사용하기
print(string_tools.capitalize("hello"))  # 결과: Hello

Hello

---